@import url(./reset.css);
@import url(./font.css);
body{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.container{
    max-width: 1113px;
    margin: 0 auto;
    padding: 15px;
}
.wrapper{
    background:url("../images/hero-bg.jpg") #000 no-repeat center/cover ;
    max-width: 100%;
    height: calc(100vh + 80px);
}
.title{
    font-weight: 700;
    font-size: 36px;
    line-height: 146%;
    color:#000;
}
.desc{
     font-weight: 400;
    font-size: 16px;
    line-height: 158%;
    color: #808080;
}
.more{
    font-weight: 500;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: rgb(62, 62, 248);
}
/*header*/
.header{
    height: 60px;
    padding: 10px;
}
.nav_item{
    display: flex;
    gap: 40px;
    justify-content:center;
    align-items: center;
    padding: 10px;
}
.link{
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}
.link > a:hover{
 color: #090202;
}
.line{
    height: 1px;
   position: relative;
     border: 1px solid #a1a1a1;
}
.line::after{
    content: "";
    display: inline-block;
    position: absolute;
   
}
/*hero*/
.hero{
    height: 100vh;
   display: flex;
   justify-content: center;
   align-items:center;
    
}
.hero_wrapper{
    padding: 20px;
    text-align: center;
}
.hero_text{
    max-width: 175px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #fff;
}
.hero_title{
    max-width: 829px;
    font-weight: 800;
    font-size: 48px;
    line-height: 134%;
    text-align: center;
    color: #fff;
    margin: 10px;
}
.hero_btn{
    min-width: 200px;
    height: 45px;
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
    background-color: rgb(71, 71, 241) ;
    cursor: pointer;
    transition: .3s;
}
.hero_btn:hover{
    background-color: #2e1c76;
    color: #000;
}
/*section-Create*/
.createMapp{
    text-align: center;
    margin-top: 110px;
}
.createMapp_title{
    display: inline-block;
    max-width:739px ;
    text-align: center;
}
.createMapp_desc{
    display: inline-block;
    max-width: 730px;
    margin: 50px 0;
    text-align: center;
}
.card_wrapper{
    display: flex;
    gap: 13px;
    flex-wrap: wrap;
}
.createMapp_card{
    max-width: 353px;
    display: flex;
    flex-wrap: wrap;
}
.cardwrapp{
    margin: 30px 10px;
}
.card_title{
    font-weight: 600;
    font-size: 18px;
    color: #000;
}
.card_text{
    font-weight: 400;
    font-size: 14px;
    line-height: 158%;
    color: #808080;
    width: 222px;
}
.card_circle{
    width: 110px;
    height: 110px;
    stroke-width: 1px;
    stroke: #D3D3D3;
    border-radius: 100%;
    border: 1px solid #d3d3d3;
    position: relative;
}
.card_circle2{
    position: absolute;
    right: 9px;
    top: 9px;
     width: 90px;
    height: 90px;
    stroke-width: 1px;
    border-radius: 100%;
    border: 1px solid #0000ff;
}
.card_img{
    position: absolute;
    z-index: 99999;
    left: 23px;
    top: 21px;
}
.createMapp_btn:hover{
 background-color: #0000ff;
}
/*section about us*/
.about_us{
    margin-top: 205px;
}
.aboutus_wrap{
    display: flex;
    row-gap: 121px;
    margin-bottom: 90px;
    flex-wrap: wrap;
}
.wrapper_aboutus-left{
    margin-top: 52px;
    max-width: 489px;
}
.about_us-title{
  max-width: 424px;
}
.about_us-desc{
  max-width: 489px;
  margin: 40px 0 30px 0;
}
.wrapper_aboutus-right{
    border-radius: 30px;
}
.about_us-img{
    max-width: 500px;
    max-height: 400px;
}
.wrapper_aboutus-bottom{
    display: flex;
    gap: 100px;
    padding: 70px 0;
    flex-wrap: wrap;
}
.bottomcard{
    max-width: 104px;
}
.aboutus_bottom-img{
    max-width: 30px;
    height: 30px;
}
.aboutus-bottom_toptext{
    margin-left: 20px;
    font-weight: 400;
}
/*All-services*/
.all_service{
    max-width: 1900px;
    height: 887px;
}
.all_color{
    background:linear-gradient(90deg, #504dc2 0%, #5f12d0 100%), #c4c4c4;
    max-width: 1900px;
     height: 490px;
     padding-top: 100px ;
}
.all_colorwhite{
    margin-top: -240px;
    margin-bottom: 50px;
}
.allservice_wrapp-top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.allservice-title{
    color: #fff;
    max-width: 540px;
}
.all_service-btn:hover{
     background-color: #b3aad5;
    color: #000;
}
.white_wrapp{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}
.allservice_card{
    max-width: 353px;
}
.allcard_title{
    font-weight: 600;
    font-size: 18px;
    color: #000;
}
.allcard_desc{
    margin: 30px 0;
}
/*all-project*/
.all-project{
    padding: 100px 0;
    background: #f6f6f8;
    text-align: center;
}
.all_project-desc{
    display: inline-block;
    width: 730px;
    margin: 70px 0;
}
.all_project-imgwrap{
    display: flex;
    gap:20px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}
/*video-about-our-project*/
.video-aboutus{
    height: 753px;
    background: #fff;
    position: relative;
}
.videoaboutus_wrap-top{
    text-align: center;
    background: url("../images/video-about-usbig.jpg") #000 no-repeat center/cover;
    max-width: 100%;
    height: 570px;
    padding-top: 70px;
}
.videoaboutus_title{
    color:#fff;
}
.videoaboutus_desc{
    color: #fff;
}
.videoaboutus_wrap-bottom{
    margin-left: 250px;
    margin-top: -350px;
    position: absolute;
     /* bottom:120px;
    left:280px; */
    background: url("../images/video-aboutus.jpg") #000 no-repeat center/cover;
    border-radius: 10px;
    min-width: 970px;
    height: 430px;
    box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
    display: flex;
    align-items: center;
}
.videoaboutus_btn{
     border: 1px solid #fff;
    border-radius: 200px;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.videoaboutus_btn-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 158%;
    color: #fff;
}
/*subscribe*/
.subscribe{
    text-align: center;
    padding: 85px 0;
    background: #fff;
}
.subscribe_title{
    font-weight: 600;
    font-size: 18px;
    color: #000;
}
.subscribe_desc{
    margin-top:20px ;
    font-weight: 400;
    font-size: 16px;
    line-height: 158%;
    text-align: center;
    color: #808080;
}
.subscribe_btnwrap{
    display: inline-flex;
    position: relative;
    width: 889px;
    justify-content: center;
    align-items: center;
    margin:30px 35px;
}
.subscribe_btn{
    border: 1px solid #f2f2f2;
    padding:15px 33px;
    border-radius: 30px;
    width: 489px;
    min-height: 15px;
    box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
    background: #fff;
    font-weight: 400;
    font-size: 13px;
    line-height: 158%;
    color: #808080;
}
.subscribe_btntext{
    right: 200px;
    position: absolute;
    min-height: 50px;
    border-radius: 0 30px 30px 0;
    width: 190px;
    box-shadow: 0 0 10px 0 rgba(111, 111, 111, 0.25);
    background: #0000ff;
    border:1px solid #000;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #fff;
}
.subscribe_text{
    font-weight: 400;
    font-size: 13px;
    line-height: 158%;
    color: #808080;
}
/*footer*/
.footer{
    background: #f6f6f6;
    padding-top: 70px;
}
.footer_wrapper{
    display: flex;
    gap: 40px;
    margin-bottom: 70px;
    justify-content: center;
}
.footer_wrap{
    max-width: 245px;
}
.footer_title{
    font-weight: 600;
    font-size: 18px;
    color: #000;
}
.links_item{
    display: inline-block;
}
.links_link{
    font-weight: 400;
    font-size: 14px;
    line-height: 158%;
    color: #808080;
    margin-top: 30px;
}
.contacs_img{
    margin-right: 15px;
}
.cooperite{
    max-height: 95px;
    padding: 30px 0;
    text-align: center;
}
.cooperite_text{
    font-weight: 400;
    font-size: 13px;
    line-height: 158%;
    text-align: center;
    color: #808080;
}